<div class="box">
    <hr>
        <h2 class="intro-text text-center">Contact
            <strong>Balern Edu.</strong>
        </h2>
    <hr>
    <div class="col-md-6">
        <%= image_tag "out4.jpg" %>
    </div>
    <div class="col-md-6">
        <p>
            Phone:
            <strong>1.860.226.8341</strong>
        </p>
        <p>
            Email:
            <strong><a href="mailto:name@example.com">liuyue8341@126.com</a></strong>
        </p>
        <p>
            Address:
            <strong>116-118 Lv Di Business Street
            <br />  Bin Hai New Area, Tianjin
            </strong>
        </p> 
    </div>
</div>


<div class="box">
    <hr>
        <h2 class="intro-text text-center">Contact
            <strong>form</strong>
        </h2>
    <hr>
    <p>
        We are always listening to our customer comments to make sure that we can supply
        the best possible eduction and requirements necessary. If you would like to schedule a demo class or have any questions at all, don't hesitate to contact us. You can message us by the form below, telephone, or email! 
        Someone from our team will contact you as soon as possible. 
    </p>
    <br />
</div>

<hr>
<div class="container">
    <%= render 'form' %>
</div>



