<div class="box">
	
<% page_header "Your Conversations" %>
   <div class="page-header">
    <h1><%= yield :page_header %></h1>
  </div>

<p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary' %></p>

<ul class="list-group">
  <%= render partial: 'conversations/conversation', collection: @conversations %>
</ul>
 
<%= will_paginate %>
</div>