<div class="box">
	<% page_header "Add a new class" %>
	<li>Fill out the form below to open a new class to the class schedule
	<li>Do not use this to add a demo class to schedule
	<li>If you are trying to add a class to the calendar please use the events calendar
	<%= render 'form' %>

	<%= link_to 'Back', groups_path %>
</div>