<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

  <!-- Wrapper for slides -->
  <center>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <%= image_tag "slide-1.jpg", :class => "img-responsive img-full" %>
        </div>
        <div class="carousel-caption">
        Balern Education
        </div>
        <div class="item">
            <%= image_tag "slide-2.jpg", :class => "img-responsive img-full" %>
        </div>
        <div class="carousel-caption">
        Balern Education
        </div>
        <div class="item">
            <%= image_tag "slide-5.jpg", :class => "img-responsive img-full" %>
        </div>
        <div class="carousel-caption">
        Balern Education
        </div>
    </div>
</center>

  <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>