<div class="box">
    <hr>
    <h2 class="intro-text text-center">Our
        <strong>Course Advising Team</strong>
    </h2>
    <hr>
    <div class="col-sm-4 text-center">
        <%= image_tag "sophia.jpg", :class => "img-responsive" %>
        <h3>Sophia<br />
            <small>Director of Advising<br />
                Tianjin - China</small>
        </h3>
    </div>
    <div class="col-sm-4 text-center">
        <%= image_tag "nic.jpg", :class => "img-responsive" %>
        <h3>Nicole<br />
            <small>Course Advisor <br />
                Tianjin - China
            </small>
        </h3>
    </div>
    <div class="col-sm-4 text-center">
        <%= image_tag "lucy.jpg", :class => "img-responsive" %>
        <h3>Lucy<br />
            <small>Course Asvisor <br />
                Tianjin - China</small>
        </h3>
    </div>
</div>