<div class="box">
    <h2 class="intro-text text-center">About
        <strong>Balern Education</strong>
    </h2>
    <br />
    <div class="col-md-6">
        <%= image_tag "slide-6.jpg", :class => "img-responsive img-border-left" %>
    </div>
    <div class="col-md-6">
        <p>
            Balern Education was originally founded by xu zhen qiang a.k.a "Gourd".
        	Balern Education was opened so that Gourd could share his passion of the drums with his local community. Gourd has stated that he feels as though drumming has given him a lot of opportunity and self-growth and he wanted to share that with anyone willing to listen.
        </p>
        <p>
            As time progressed and Balern grew, Gourd realized people wanted to learn drums as much as he wanted to teach it. Through Gourd's vision and Balern education, he has been able to teach young learners drum and lead them to musical success, and the same personal growth that he gimself experienced.
        </p>
        <p>
            Balern Education is rapidly evolving and today offers both music and drum classes. Upon its initial start-up Balern Education consisted of just Gourd. Today, we the school has music and english instructors from all over the world! Check out our blog to learn more about what we're up to!
        </p>
        <br />
    </div>
</div>

<!-- START ////// Drum School !-->
    <%= render 'drum' %>
<!-- END ////// Drum School !-->
<!-- START ////// CCs !-->
    <%= render 'cc' %>
<!-- END ////// CCs !-->
<!-- START ////// English School !-->
    <%= render 'teacher' %>
<!-- END ////// English School !-->
<br />
