<div class="box">
    <h2 class="intro-text text-center">About
        <strong>Balern Education</strong>
    </h2>
    <br />
    <div class="col-md-6">
        <%= image_tag "slide-6.jpg", :class => "img-responsive img-border-left" %>
    </div>
    <div class="col-md-6">
        <p>
            Balern Education was originally founded by xu zhen qiang a.k.a "Gourd".
        	Balern Education was opened so that Gourd could share his passion of drums with a younger generation. His vision was to bring a new era of talented young people to shape the landscape for a new China.
        </p>
        <p>
            As time progressed and Balern grew Gourd realized people wanted to learn drums as much as he wanted to teach it.
        </p>
        <p>
            Balern hopes to infuse arts and English into your child's life to pave a road for a better tomorrow.
        </p>
    </div>
</div>

    <!-- START ////// Drum School !-->
        <%= render 'drum' %>
    <!-- END ////// Drum School !-->


    <!-- START ////// English School !-->
        <%= render 'teacher' %>
    <!-- END ////// English School !-->

    <!-- START ////// CCs !-->
        <%= render 'cc' %>
    <!-- END ////// CCs !-->