<% page_header "About Us..." %>
<div class="box">
    <h2 class="intro-text text-center">About
        <strong>Balern Education</strong>
    </h2>
    <br />
    <div class="col-md-6">
        <%= image_tag "slide-6.jpg", :class => "img-responsive img-border-left" %>
    </div>
    <div class="col-md-6">
        <p>
            Balern Education was originally founded by xu zhen qiang a.k.a "Gourd".
        	Balern Education was opened so that Gourd could share his passion of the drums with his community. Gourd has stated that he feels as though drumming has given him a lot of opportunity and self-growth. He wants to share those same opportunities with anyone willing to listen.
        </p>

        <p>
            Balern Education is rapidly evolving and today offers guitar, drum, and English classes. Upon its initial start-up Balern Education consisted of just Gourd. Today, the school has instructors from all over the world! Check out our blog to learn more about what we're up to!
        </p>
        <br />
    </div>
</div>

<div class="box">
<!-- START ////// CCs !-->
    <%= render 'cc' %>
<!-- END ////// CCs !-->

<!-- START ////// Drum School !-->
    <%= render 'drum' %>
<!-- END ////// Drum School !-->

<!-- START ////// English School !-->
    <%= render 'teacher' %>
<!-- END ////// English School !-->
</div>

<br />
