<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Balern Education</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="assets/slide-2.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>Balern Education was originally founded by Gourd.
                    	It was opened so that he could share his passion of drums with a younger generation. His vision was to bring a new era of talented young people to shape the landscape for a new China.</p>
                    <p>As time progressed and Balern grew Gourd realized people wanted to learn drums as much as he wanted to teach it.</p>
                    <p>Balern hopes to infuse arts and English into your child's life to pave a road for a better tomorrow.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our Drum
                        <strong>Teaching Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="assets/prez.jpg" alt="">
                    <h3>Gourd<br />
                        <small>President / Drum Teacher<br />
                        	Tianjin - China</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <%= image_tag "viv.jpg", :class => "img-responsive" %>
                    <h3>Vivian<br />
                        <small>Teacher <br />
                        	Tianjin - China
                        </small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <%= image_tag "lynn.jpg", :class => "img-responsive" %>
                    <h3>Lynn<br />
                        <small>Drum Teacher <br />
                        	Tianjin - China</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>




         <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our English
                        <strong>Teaching Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="assets/tina.jpg" alt="">
                    <h3>Christina<br />
                        <small>Director of Studies<br />
                            Tianjin - China</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="assets/josh.jpg" alt="">
                    <h3>Joshua<br />
                        <small>International D.O.S<br />
                            Massachusetts - USA</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="assets/mick.jpg" alt="">
                    <h3>Mickey<br />
                        <small>Foreign Teacher<br />
                        	New Hampshire - USA</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>