// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photos {
  margin: 0 auto;
}

.bot {
  margin: 5px;
  width: 214px;
}

.bot img {
  width: 100%;
}