<div class="box">

<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <div>
      <%= appointment.group.name %>
    </div>
  <% end %>
<% end %>

</div>