    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Balern Education 2015</p>
                </div>
            </div>
        </div>
    </footer>